body{
    background: #006ec1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
header{
    color: white;
}

.cabeza-nav{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#user-pic{
    width: 40%;
    align-items: center;
    margin-left: 20%;
    margin-top: 10%;
}
img.mediana{
    width: 100px;
    height: 30px;
  }

#cabezera-desk{
    display: flex;
    justify-content: space-between;
}  

#cabezera-desk button{
    background-color: unset;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}

button:hover{
    background: gray;
}

button img:hover{
    background: gray;
}

.Bienvenida{
    font-size: small;
    display: flex;
    margin-bottom: 1px;
    margin-left: 10%;
    
}


.rol{
    margin-top: unset;
    font-size:x-small;
    margin-left: 15%;
}
main{
    display: flex;
}
nav{
    background: #2C93E0;
    width: 15em;
    height: 33.5em;
    float: left;
    margin-left: -.5%;
    color: white;
}
section{
    background: white;
    float: right;
    margin-right: -.5%;
    width: 100em;
    
}

ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    margin-top: 15%;
    color: white;
    margin-left:0% ;
}
ul button{
    all:unset;
    cursor: pointer;
    background-color: #0F74BE;
    width: 100%;
    height: 4em;

    
}
