*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
form{
    display: flex;
    flex-direction: column;
}

.option{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 50px;
    margin-top: 1em;
}

input[type=text],
input[type=date]{
    height: 2.5em;
    border-radius: 5px;
}
/* button,input[type=button]{
    background-color: #006EC1;
    border: 1px solid #006EC1;
    margin: 5px;
    border-radius: 5px;
    color: white;

    height:25px;
    width: 50%;

}

input[type=button]{
    height: 50px;
    width: 25%;
} */ 
#sub{
    display: flex;
    justify-content: center;
}
