*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.intern-candidatos{
    display: flex;
    justify-content: space-between;
}

.finder{
    display: flex;
    background-color:#DADADA;
    border-radius: 20px;
}

.finder input[type="search"]{
    position: relative;
    border: none;
    background-color: unset;
}

.content-table{
    background-color: #f2f2f2;
    border-radius: 20px;}

    .ver-op{
        display: flex;
        justify-content: flex-start;
        font-size: small;
        background: #0F74BE;
        border-radius: 20px;
        color: white;
        width: 75%;
        height: 20px;
        /*height: 25px;*/
        margin-left: 20%;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
        cursor:pointer;
        vertical-align:middle;
    
    }
    .ver-op button{
    
        margin-left: 10%;
    }    

    #candidatos{
        width: 100%;
    }

    button{
        all:unset;
        cursor: pointer;
    }

    .ver-op:hover{
        background-color: #DADADA;
    }

    
    .ver-op label{
        margin-left: 10%;
    }

    @media(max-width: 1024px){
        .not-responsive{
            display: none;
        }
        .finder{
            width: 75%;
            height: 50px;
            /*display: flex;
            justify-content: space-around;*/

        }
        .finder input{
            margin-right: 20px;
        }
        .intern-candidatos{
            flex-direction: column;
            justify-content: flex-start;
        }

        .candidatos-content{
            display: flex;
            /*justify-content: space-around;*/
            
        }
    }