#candidatos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}
#candidatos th{
    background-color:white;
}
#candidatos tr{background-color: #f2f2f2;}

#intern-buscador{
    display: flex;
    justify-content: space-between;
}

.trash-icon{
    width: 4em;
    height: 4em;
}

button{
    all:unset;
    cursor: pointer;
}
button:hover{
    background-color: white;
}
.delete-op{
    background: white;
}

.finder{
    display: flex;
    background-color:#DADADA;
    border-radius: 20px;
}
.finder input[type="search"]{
    position: relative;
    border: none;
    background-color: unset;
}

.fa-trash{
    color: red;
}
@media(max-width: 1024px){
    .not-responsive{
        display: none;
    }
    #intern-buscador{
        display: flex;
        flex-direction: column;
    }
    .finder{
        width: 75%;
        height: 50px;

    }

    .finder input{
        margin-left: 20px;
    }

    
}