h1{
    font-weight: 300;
}
.dashboard{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
}
.dashboard th{
    background-color:white;
}

.content-table{
    background-color: #f2f2f2;
    border-radius: 20px;}

#opciones-op{
    text-align: center;
    font-size: small;
    background: #0F74BE;
    border-radius: 20px;
    color: white;
    width: 122px;
    height: 37px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
}    

#intern-buscador{
    display: flex;
    justify-content: space-between;
}

.icon-op{
    width: 5px;
    height: 5px;
}

button{
    all:unset;
    cursor: pointer;
}
a:hover{
    background-color: #DADADA;
}
.delete-op{
    background: white;
}

.finder{
    display: flex;
    background-color:#DADADA;
    border-radius: 20px;
}
.finder input[type="search"]{
    position: relative;
    border: none;
    background-color: unset;
}

.agregar-op{
    display: flex;
    justify-content: flex-start;
    background: #0F74BE;
    border-radius: 20px;
    color: white;
    width: 142px;
    height: 100%;
    margin-left: 20%;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    text-decoration: none;

}
.agregar-op button{
    margin-left: 25%;
    font-size: 80%;
}
.ver-op img{
    width: 25px;
    height: 25px;
    
}

.table{
    width: 100%;
    margin: 50px 15px;
}