body{
    background: #2C93E0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

header{
    display: flex;
    flex-direction: column;
}

.titulo-login{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}

.parrafos-login{
    color: rgb(0, 0, 0);
    font-family: droid-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 70px;

}


#logo-header{
    margin-left: 30px;
    margin-top: 10px;
}
img.mediana{
    width: 100px;
    height: 30px;
  }
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hero{
    display: flex;
    justify-content: space-around;

    margin-top: 50px;
}
.titulo-main{
    display: inline;
}
button {
    width: auto;
    display: inline-block;
    background-color: #89D1F3;
    color: white;
    padding: 14px 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #89D1F3;
    border-radius: 5px;
  }

  #logo-menu{
    display: flex;
    justify-content: center;
} 
#titulo2{
    display: flex;
    justify-content: center;
    
    
    /*width: 370px;
    height: 50px;
    left: 642px;
    top: 80px;*/

    font-family: 'Inika';
   font-style: normal;
    font-weight: 400;
    font-size: 64px;


}

#menu-login{
    border-radius: 5px;
    background-color:#00589A;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 450px;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
#menu-login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#person-login{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#attention-img img {
    margin-top: 100px;
    width: 90%;
   

}
input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;

    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


.inputs-login{
   
   margin-left: 60px;
   margin-right: 60px;
   
   padding: 0;
   margin: 0;
   border: 1px solid #393939;
   border-radius: 5px 5px 5px 5px;

}

@media (max-width:768px) {
   
    #menu-login{
        width: 75%;
    }
    
 }

 @media (max-width:480px) {
    #menu-login{
        width: 90%;
        margin: auto;
        
        
    }
    #hero{
        display: inline-block;
    }

    #attention-img img{
        margin: 10px 0;
        width: 80%;
        height: 200px;
        margin-left: 15%;
        align-content: center;
        
    }
    

    button{
        width: auto;
        margin-top: 10;
      }
    
 }


