*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
h1,label{
    font-weight: bold;
}
form{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 10% 10% 10% 30%,10% ;
}

.option{
    margin-top: 3%;
    margin-bottom: 5%;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
}
#experiencia{
    grid-row-start: 1;
}

#tec{
    grid-row-start: 2;
}

#nivel{
    grid-row-start: 3;
}
#cumple{
    grid-row-start:4;
}
#observaciones{
    grid-row-start: 5;
    grid-column-end: 3 ;
    display: flex;

}
#button{
    margin-top: 0%;
    display:flex;
    align-items: flex-end;
    /*grid-row-start: 6;*/
    grid-column-end:3;
    width: 100%;

}
#button input{
    width: 25%;
    height: 50px;
    background-color: #0F74BE;
    border-radius: 20px;
    color: white;

    border: none;
    cursor:pointer;
}

input[type=text]{
    height: 4em;
}
button,input[type=button]{
    background-color: #006EC1;
    border: 1px solid #006EC1;
    margin: 5px;
    border-radius: 5px;
    color: white;

    height:25px;
    width: 50%;

}

input[type=button]{
    height: 50px;
    width: 25%;
}

#sub{
    display: flex;
    justify-content: center;
}

@media(max-width: 1024px) {
    .title-candidato{
        display: flex;
        justify-content: center;
    }
    .edit-page{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    form{
        display: flex;
        flex-direction: column;
    }
}